body {
    background-color:#FFF5E4;
  }

  hr {
    border-style: dotted none none;
    border-color: darksalmon;
    border-width: 8px;
    height: 0px;
    width: 30%;
  }

  body {
    background-color:#FFF5E4;
  }

  hr {
    border-style: dotted none none;
    border-color:indianred;
    border-width: 8px;
    height: 0px;
    width: 30%;
  }

  h1 {color:#EF9F9F;
  }

  h3 {color: #EF9F9F;
  }

  h3 {font-style:italic;

  }
  